<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Requests</title>
    <link rel="icon" type="image/png" href="{{url_for('static',filename='logo.png')}}">
    
</head>
<body style="margin:0;">
    <div class="">
        <div class="topbar">
            <div class="leftitems">
                <a href="{{url_for('librarian_dashboard')}}">Dashboard </a> 
                <h3>Welcome Admin</h3>
            </div>
            <div class="rightitems">
                <a href="{{url_for('librarian_dashboard')}}">Home </a>
                <a href="{{ url_for('adminstats') }}">Stats   </a>
                <a href="{{ url_for('requests') }}">Requests  </a>
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>    
        </div>
        <div class="requestcontent">
            <h2 style="margin-top: 20px; margin-bottom: 0px;">Book Requests:</h2>
            <table>
                <thread>
                    <tr>
                        <th>Request ID</th>
                        <th>Book Title</th>
                        <th>Username</th>
                        <th>Actions</th>
                    </tr>
                </thread>
                <tbody>
            {% for request in requests %}
                <tr>
                <td> {{request.id}} </td>
                <td>{{request.booktitle}}</td>
                <td>{{request.username}}</td>
                <td class="request-btns-data">
                <form action="/permissions" method="POST">
                    <input type="hidden" name="request_id" value="{{ request.id }}">    
                    <input type="hidden" name="booktitle" value="{{request.booktitle}}">
                    <input type="hidden" name="username" value="{{request.username}}">
                    <div class="request-btns">
                        <input type="submit" name="action" value="Grant" class="request-btns-btn">
                        <input type="submit" name="action" value="Reject" class="request-btns-btn">
                    </div>
                </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
            
            </table>
        
        <h2 style="margin-bottom: 0px;">Granted Books:</h2>
        <table>
            
            <thread>
            <tr>
                <th>Request ID</th>
                <th>Book Title</th>
                <th>Username</th>
                <th>Issue Date</th>
                <th>Return date</th>
                <th>Actions</th>
            </tr>
             </thread>
             <tbody>

            {% for grant in grants %}
           <tr>
                <td> {{grant.id}}       </td>  
                <td> {{grant.booktitle}}</td>  
                <td> {{grant.username}} </td>  
                <td> {{grant.issued}}   </td>  
                <td> {{grant.return}}   </td>  
                <td class="revoke-btn-data">
                <form action="/revoke_book" method="POST">
                    <input type="hidden" name="username" value="{{ grant.username }}">
                    <input type="hidden" name="booktitle" value="{{ grant.booktitle }}">
                    <input type="hidden" name="id" value="{{ grant.id }}">
                    <input type="submit" name="action" value="Revoke" class="request-btns-btn">
                </form>
            </td>   
            </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>
    </div>
</body>
</html>