<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>My books</title>
</head>
<body>
    <div class="">
        <div class="topbar">
            <div class="leftitems">
                <h4>Dashboard   </h4>
                <h5>Welcome {{username}}</h5>
            </div>
            <div class="rightitems">
                <a href="{{url_for('user_dashboard',username=username)}}"> Books</a>
                <form action="/user_books" method="POST">
                    <input type="hidden" name="username" value="{{username}}">
                    <input type="submit" name="action" value="My books">
                </form>
                <a href="{{ url_for('stats_page') }}">Stats   </a>
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>    
        </div>
        <div class="content">
            {% for books in userbooks%}
            <div class="card">
                <p>Book Title: {{books.booktitle}}</p>
                <p>Author: {{books.author}}</p>
                <p>issue date : {{books.issued}}</p>
                <p>return date: {{books.return}}</p>
                <p>section: {{books.section_id}}</p>
                <form action="/return_book" method="POST">
                    <input type="hidden" name="username" value="{{username}}">
                    <input type="hidden" name="booktitle" value="{{books.booktitle}}">
                    <input type="hidden" name="id" value="{{books.id}}">
                    <input type="submit" name="action" value="Return">
                </form>
                
              </div>
            {% endfor %}
            
        </div>
    </div>
    
</body>
</html>