<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>User Dashboard</title>
</head>
<body>
    <div class="">
        <div class="topbar">
            <div class="leftitems">
                <h4>Dashboard   </h4>
                <h5>Welcome {{username}}</h5>
            </div>
            <div class="rightitems">
                <a href="{{url_for('user_dashboard',username=username)}}"> Books</a>
                <form action="/user_books" method="POST">
                    <input type="hidden" name="username" value="{{username}}">
                    <input type="submit" name="action" value="My books">
                </form>
                <a href="{{ url_for('stats_page') }}">Stats   </a>
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>    
        </div>
        <div class="content">
            {% for book in books %}
            <div class="card">
                <h3><strong>Title:</strong>{{ book.booktitle }}</h3>
                <p><strong>Author:</strong> {{ book.author }}</p>
                <p><strong>Content:</strong> {{ book.content }}</p>
                <p><strong>Section id:</strong>{{ book.section_id}}</p>
                <form method="POST" action="{{ url_for('user_requests')}}">
                    <input type="hidden" id="booktitle" name="booktitle" value="{{ book.booktitle }}">
                    <input type="hidden" id="username" name="username" value="{{ username }}">
                    <button type="submit">Request book</button>
                </form>
                
            </div>
            {% endfor %}
        </div>
    </div>
</body>
<script>
    

</script>
</html>